<div data-role="page" id="welcome" data-url="<%= root_path %>">
  <div data-role="header">
    <h1>お薬手帳</h1>
  </div>
  <div data-role="content">
    <a href="#upload_dialog" data-rel="dialog">お薬手帳シールをアップロード</a>
  </div>
</div>
<div data-role="page" id="upload_dialog">
  <div data-role="header">
    <h1>アップロード</h1>
  </div>
  <div data-role="content">
    <%= form_for @seal, :html => {:'data-ajax' => false} do |f| %>
      <div><%= f.file_field :file %></div>
      <div><%= f.submit 'アップロード' %></div>
    <% end %>
  </div>
</div>
