<div data-role="page" id="welcome" data-url="<%= root_path %>">
  <div data-role="header">
    <h1>お薬手帳</h1>
  </div>
  <div data-role="content">
    <ul class="seals">
      <% @seals.each do |s| %>
        <li><%= image_tag download_seal_path(s) %></li>
      <% end %>
    </ul>
  </div>
  <div data-role="footer">
    <%= link_to 'お薬手帳シールをアップロード', new_seal_path, :'data-rel' => 'dialog' %>
  </div>
</div>
