<p><%= @resource.email %> さん</p>

<p>パスワードリセット依頼を受け付けました。以下のリンクにアクセスしてパスワードをリセットしてください。</p>

<p><%= link_to 'パスワードを変更する。', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>もし間違ってパスワードリセットを依頼した場合は、本メールを破棄してください。</p>
<p>上記リンクにアクセスしない限り、パスワードはリセットされません。</p>
