<%= fields_for "family_member", nm, :index => index do |f_nm| %>
<tr id="family_members_attributes_<%= index %>">
  <td>
    <%= f_nm.text_field :name %>
    <%= f_nm.hidden_field :id %>
  </td>
</tr>
<% end %>
