<%= fields_for "family_member", nm, :index => index do |f_nm| %>
<tr id="family_members_attributes_<%= index %>">
  <td>
    <div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-c">
    <%= f_nm.text_field :name, :class => 'ui-input-text ui-body-c' %>
    <%= f_nm.hidden_field :id %>
    </div>
  </td>
</tr>
<% end %>
